{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_kom: Partials/Area/Footer.html [begin] -->

		<footer class="footer-main hidden-sm-down pt-3 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="row pb-3">
							<div class="col-sm-10">
								<f:cObject typoscriptObjectPath="lib.footer.logo"/>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p class="footer-name">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:footer.sitename')}</p>
								<p>
									<a href="tel:04292811620">
										<i class="fi flaticon-technology move-left"></i>
										<span>{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:default.number')}</span>
									</a>
								</p>
								<p>
									<a class="footer-link" href="mailto:info@foo.bar?Subject=Hello%20again"
										 target="_top">
										<i class="fi flaticon-mail move-left"></i>
										<span>info@foo.bar</span>
									</a>
								</p>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<f:cObject typoscriptObjectPath="lib.footer.jobs"/>
					</div>

					<div class="col-sm-3 offset-md-1">
						<h6>{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.judicial')}</h6>
						<ul class="nav nav-footer">
							<li class="nav-item">
								<f:link.page pageUid="12" class="nav-link">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.imprint')}
								</f:link.page>
							</li>
							<li class="nav-item">
								<f:link.page pageUid="12" class="nav-link">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.privacy')}
								</f:link.page>
							</li>
							<li class="nav-item">
								<f:link.page pageUid="14" class="nav-link">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.terms')}
								</f:link.page>
							</li>
						</ul>
						<div class="flag--facebook">
								<a class="footer-link" href="https://de-de.facebook.com/kandidatomat"
									 target="_top">
									<i class="fi flaticon-facebook move-left"></i>
									<span>{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.facebook')}</span>
								</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- theme_kom: Partials/Area/Footer.html [end] -->
	</f:section>
</div>
