{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_kom: Partials/Area/Footer/Mobile.html [begin] -->

		<footer class="footer-main hidden-md-up pt-3 pb-2">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12 pb-1 px-3">
								<f:cObject typoscriptObjectPath="lib.footer.logo"/>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 pb-3">
								<a class="btn btn-block btn-outline-gray" href="tel:04292811620"><i
									class="fi flaticon-technology move-left"></i> {f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:default.number')}</a>
								<a class="btn btn-block btn-outline-gray"
									 href="mailto:info@foo.bar?Subject=Hello%20again"><i
									class="fi flaticon-mail move-left"></i> info@foo.bar</a>
							</div>
						</div>
					</div>

					<div class="col-xs-6 text-xs-center border-after">
						<h6>{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.judicial')}</h6>
						<ul class="nav nav-footer">
							<li class="nav-item">
								<f:link.page pageUid="12" class="nav-link">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.imprint')}
								</f:link.page>
							</li>
							<li class="nav-item">
								<f:link.page pageUid="12" class="nav-link">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.privacy')}
								</f:link.page>
							</li>
							<li class="nav-item">
								<f:link.page pageUid="14" class="nav-link">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.terms')}
								</f:link.page>
							</li>
						</ul>
					</div>
					<div class="col-xs-6 text-xs-center social-media">
						<h6>Social Media</h6>
						<a href="https://de-de.facebook.com/kandidatomat" target="_blank">
							<i class="fi flaticon-facebook"></i>
						</a>
					</div>
				</div>
			</div>
		</footer>

		<!-- theme_kom: Partials/Area/Footer/Mobile.html [end] -->
	</f:section>
</div>
