button {
  transition: all .2s;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $link-hover-color;
  }
}

.btn {
  white-space: normal;
}

.btn-primary {
  &:focus,
  &.focus {
    color: $btn-primary-color;
  }

  box-shadow: 0;
}

.btn-secondary {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);

  .opinion-wrap {
    display: inherit;
    padding: .5rem;
    margin-right: $spacer-x;
  }
}

.btn-inverted {
  @include button-variant($btn-primary-bg, $btn-primary-color, $btn-primary-border);
  @include button-size($btn-padding-x, $btn-padding-x, $font-size-lg, $btn-border-radius-lg);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

@include media-breakpoint-down(xs) {
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}
