// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Options

$enable-flex: true;
$enable-rounded: false;
$enable-shadows: false;
