.navbar {
  &.bg-primary {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4);
    
    a {
      color: $white;
    }
  }

  @include media-breakpoint-down(xs) {
    .container {
      width: 100%;
      padding: 0;
    }
  }
}

.navbar-brand {
  font-weight: 300;
}
