body {
  hyphens: auto;
  overflow-wrap: break-word;
}

small,
.small {
  font-weight: $font-weight-base;
  color: $white-light;
}

h2,
.h2 {
  @include media-breakpoint-down(xs) {
    font-size: $font-size-base;
  }
}

a.text-gray-dark:hover {
  color: $brand-primary !important;
}
