<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Start"/>
	<!-- theme_kom: Templates/Theme/ContentStart.html [begin] -->
	<f:section name="Default">

		<div class="content__main--wrapper">
			<div class="content__main">
				<header class="header__main">
					<div class="container pt-2">
						<div class="row">
							<div class="col-12 mt-3">
								<f:render partial="Content/Featured" section="Default" arguments="{_all}"/>
							</div>
						</div>
					</div>
				</header>
				<main class="container">
					<div class="row">
						<div class="col-12">
							<f:render partial="Content/Main" section="Default" arguments="{_all}"/>
						</div>
					</div>
				</main>
			</div>
		</div>

	</f:section>

	<f:section name="Footer">
		<f:render partial="Area/Footer/General" section="Default" arguments="{_all}"/>
	</f:section>

	<!-- theme_kom: Templates/Theme/ContentStart.html [end] -->
</div>
