<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Start"/>
	<!-- theme_kom: Templates/Theme/ContentStart.html [begin] -->
	<f:section name="Default">

		<div class="content__main--wrapper">
			<div class="content__main">
				<main class="container">
					<div class="row">
						<div class="col-12 text-center text-uppercase">
							<div class="row justify-content-center">
								<div class="col-6 col-md-2">
									<f:image
										class="img-fluid w-100 mb-5"
										src="EXT:theme_kom/Resources/Public/Images/Frontend/kandidat_logo_V02@2x.png"
										alt="{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.logo.alttext')}"
									/>
								</div>
							</div>
						</div>
					</div>
					<f:render partial="Content/Main" section="Default" arguments="{_all}"/>
				</main>
			</div>
		</div>

	</f:section>

	<f:section name="Footer">
		<f:render partial="Area/Footer/General" section="Default" arguments="{_all}"/>
	</f:section>

	<!-- theme_kom: Templates/Theme/ContentStart.html [end] -->
</div>
