<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Blank"/>
	<!-- theme_kom: Templates/Theme/Extension.html [begin] -->
	<f:section name="Default">
		<div class="content__extension--wrapper">
			<f:render partial="Content/Main" section="Default" arguments="{_all}"/>
		</div>
		<div class="hidden-xs-down">
			<f:render partial="Area/Footer/General" section="Default" arguments="{_all}"/>
		</div>
	</f:section>

	<!-- theme_kom: Templates/Theme/Extension.html [end] -->

</div>
