.tx-kom {
  flex: 0 0 auto;
}

.flaticon-arrow-reverse:before {
  transform: rotate(180deg);
}

.flaticon-arrow2-reverse:before {
  transform: rotate(180deg);
}

.unstyled {
  color: $white;
  cursor: pointer;
  background: none;
  border: 0;
}

.skip-thesis {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  font-weight: 300;
  color: $gray;
  cursor: pointer;
  background: none;
  border: 0;
}

.mobile-help {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1029;
  width: 100%;
  height: calc(100vh - 48px);
  padding-top: $spacer-y;
  padding-bottom: $spacer-y;
  margin-top: -1rem;
  background: $body-bg;
}

.carousel-item .thesis-balloon {
  margin-bottom: calc(25px + #{$spacer-y * 3});
}

@include media-breakpoint-up(md) {
  .carousel-item .thesis-balloon {
    margin-top: calc(25px + #{$spacer-y * 1});
  }

  .theses-counter {
    position: absolute;
    top: $spacer-y * 1;
    right: 0;
  }
}

.thesis-balloon-wrap {

  @include media-breakpoint-up(md) {
    margin-top: calc(25px + #{$spacer-y * 6});
    margin-bottom: calc(25px + #{$spacer-y * 3});
  }
}

.thesis-balloon-wrap-inner {
  position: relative;
}

.thesis-control-prev,
.thesis-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  text-align: center;

  @include hover-focus {
    text-decoration: none;
    outline: 0;
    opacity: $carousel-control-opacity;
  }

  .unstyled {
    padding: 0;
    margin: 0;
    color: $link-color;
  }
}

.thesis-control-prev {
  left: -1rem;
}

.thesis-control-next {
  right: -1rem;
}

.desktop-thesis-control-wrap {
  position: relative;

  .thesis-control-prev,
  .thesis-control-next {
    margin-top: -25px;
  }

  .thesis-control-prev {
    left: -2rem;
  }

  .thesis-control-next {
    right: -2rem;
  }
}

.thesis-counter {
  color: $gray-light;

  strong {
    font-weight: bold;
    color: $red;
  }
}

.thesis-balloon,
.thesis-balloon-inactive {
  position: relative;
  z-index: 999;
  padding: ($spacer-y) ($spacer-x);
  margin: $spacer-y / 2 0;
  background: $white;
  border: 1px solid $gray-light;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);
  transition: background-color .3s ease-in-out;
  will-change: transform;

  @include media-breakpoint-up(lg) {
    padding: ($spacer-y * 4) ($spacer-x * 4);
  }
  
  .content {
    height: 40vh;
    overflow: hidden;
  }

  @include media-breakpoint-up(lg) {
    .content {
      height: 14vh;
    }
  }

  &[class*="swipe-"] {
    .content {
      opacity: .2;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: ($spacer-y / 2) ($spacer-x * 2);
      font-size: $font-size-h5;
      font-weight: bold;
      color: $white;
      text-transform: uppercase;
      white-space: nowrap;
      border: 5px solid $white;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &.swipe-agree {
    background: $green;

    &:after {
      content: attr(data-agree);
    }
  }

  &.swipe-disagree {
    background: $red;

    &:after {
      content: attr(data-disagree);
    }
  }

  &.swipe-draw {
    background: $yellow;

    &:after {
      content: attr(data-draw);
    }
  }

  &.swipe-skip {
    background: $gray;

    &:after {
      content: attr(data-skip);
    }
  }
}

.thesis-balloon-inactive {
  position: absolute;
  top: 0;
  z-index: 4;
  margin: .5rem -.5rem -.5rem .5rem;
  background-color: $gray-lighter;
  transform: rotate(1deg);

  @include media-breakpoint-up(lg) {
    transform: rotate(1deg);
  }
}

.thesis-balloon-inactive:nth-child(3) {
  z-index: 3;
  margin: -.25rem .5rem .25rem -.5rem;
  transform: rotate(-1.5deg);
}

.thesis-balloon-inactive:nth-child(4) {
  z-index: 2;
  margin: -.5rem 1rem .5rem -1rem;
  transform: rotate(-3.5deg);
}

.carousel .thesis-balloon {
  box-shadow: none;
}

.thesis-list {
  small {
    color: $gray-light;
  }
}

.thesis-emphasize {

  .emphasize-toggle {
    transition: all .2s;
  }

  .emphasize-indicator {
    color: $yellow;
    opacity: 0;
    transition: all .2s;

    small {
      color: $yellow;
    }
  }

  &.active {
    .emphasize-toggle {
      opacity: 1;
    }
  }

  &.emphasized {
    .emphasize-indicator {
      opacity: 1;
    }
  }
}

.emphasize-toggle-wrap {
  @include media-breakpoint-down(md) {
    margin-top: calc(25px + #{$spacer-y});
  }

  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: $link-hover-color;
  }
}

.collapse-header {
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    padding-right: $spacer-x;

    &:before {
      @extend .fi:before;
      @extend .flaticon-arrow2-o:before;
      margin-right: $spacer-x;
      font-size: $font-size-base;
      transform: rotate(90deg);
      transition: all .2s;
    }
  }

  &.collapsed {
    span {
      &:before {
        @extend .fi:before;
        @extend .flaticon-arrow2-o:before;
        transform: rotate(0deg);
      }
    }
  }
}

.opinion-wrap {
  padding: .25rem .5rem;
  border: 2px solid $gray-light;
  border-radius: 50%;

  i {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-bottom: 1px;
    margin-left: 1px;

    &:before {
      font-size: $font-size-lg;
      font-weight: bold;
    }

    &.flaticon-check {
      color: $green;
    }

    &.flaticon-cancel {
      color: $red-danger;
    }

    &.flaticon-star {
      color: $yellow;
    }
  }
}

.check {
  color: $green;
}

.cancel {
  color: $red;
}

.result-list {
  img {
    border: 3px solid $gray-lighter;
  }

  .result-percentage {
    font-size: $font-size-h3;
    color: $red;
  }

  .percentage-indicator-wrap {
    position: relative;
  }

  .percentage-indicator {
    position: absolute;
    right: 0;
    height: 5px;
    margin-top: -5px;
    background: $red;
  }
}

.carousel-navigation {
  a {
    color: $body-color;
  }
}

.thesis-detail-wrap {
  display: none;

  &.active {
    display: inherit;
  }
}

// Base for label styling
.emphasize-toggle {
  border: 2px solid $gray-light;
  border-radius: 50%;
}

.checkbox-star[type="checkbox"]:not(:checked),
.checkbox-star[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.checkbox-star[type="checkbox"]:not(:checked) + label,
.checkbox-star[type="checkbox"]:checked + label {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0;
  cursor: pointer;
}

// checkbox aspect
.checkbox-star[type="checkbox"]:not(:checked) + label:before,
.checkbox-star[type="checkbox"]:checked + label:before {
  @extend .fi:before;
  @extend .flaticon-star-o:before;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: .5rem;
  font-size: $font-size-lg;
  font-weight: bold;
  color: $gray-light;
  text-align: center;
}

// checked mark aspect
.checkbox-star[type="checkbox"]:not(:checked) + label:after,
.checkbox-star[type="checkbox"]:checked + label:after {
  @extend .fi:before;
  @extend .flaticon-star:before;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: .5rem;
  font-size: $font-size-lg;
  font-weight: bold;
  color: $yellow;
  text-align: center;
  transition: opacity .2s;
}

// checked mark aspect changes
.checkbox-star[type="checkbox"]:not(:checked) + label:after {
  display: none;
  opacity: 0;
  transform: scale(0);
}

.checkbox-star[type="checkbox"]:not(:checked) + label:before {
  opacity: 1;
  transform: scale(1);
}

.checkbox-star[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox-star[type="checkbox"]:checked + label:before {
  display: none;
  opacity: 0;
  transform: scale(0);
}

.checkbox-check[type="checkbox"]:not(:checked),
.checkbox-check[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.checkbox-check[type="checkbox"]:not(:checked) + label,
.checkbox-check[type="checkbox"]:checked + label {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0;
  cursor: pointer;
}

// checkbox aspect
.checkbox-check[type="checkbox"]:not(:checked) + label:before,
.checkbox-check[type="checkbox"]:checked + label:before {
  @extend .fi:before;
  @extend .flaticon-check:before;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: .5rem;
  font-size: $font-size-lg;
  font-weight: bold;
  text-align: center;
  opacity: 0 !important;
}

// checked mark aspect
.checkbox-check[type="checkbox"]:not(:checked) + label:after,
.checkbox-check[type="checkbox"]:checked + label:after {
  @extend .fi:before;
  @extend .flaticon-check:before;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: .5rem;
  font-size: $font-size-lg;
  font-weight: bold;
  color: $green;
  text-align: center;
  transition: opacity .2s;
}

// checked mark aspect changes
.checkbox-check[type="checkbox"]:not(:checked) + label:after {
  display: none;
  opacity: 0;
  transform: scale(0);
}

.checkbox-check[type="checkbox"]:not(:checked) + label:before {
  opacity: 1;
  transform: scale(1);
}

.checkbox-check[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox-check[type="checkbox"]:checked + label:before {
  display: none;
  opacity: 0;
  transform: scale(0);
}

.sharing-link {
  font-weight: 400;
  color: $gray;

  &:active,
  &:focus,
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

.dropdown-menu {
  right: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.layout-start {
  .btn-secondary {
    background-color: $btn-secondary-bg;
  }
}
