.thesis-balloon {
  position: relative;
  padding: $spacer-y $spacer-x;
  margin-bottom: calc(25px + #{$spacer-y * 6});
  border: 8px solid $gray-light;
  
  &:before {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 30px;
    width: 0;
    height: 0;
    border: 25px solid;
    border-color: $gray-light transparent transparent $gray-light;
  }
  
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 38px;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: $body-bg transparent transparent $body-bg;
  }
}
