.flaticon-arrow-reverse:before {
  transform: rotate(180deg);
}

.flaticon-arrow2-reverse:before {
  transform: rotate(180deg);
}

.unstyled {
  color: $white;
  background: none;
  border: 0;
}

.thesis-balloon {
  position: relative;
  padding: $spacer-y $spacer-x;
  margin-bottom: calc(25px + #{$spacer-y * 6});
  border: 8px solid $gray-light;

  &:before {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 30px;
    width: 0;
    height: 0;
    border: 1.5rem solid;
    border-color: $gray-light transparent transparent $gray-light;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 38px;
    width: 0;
    height: 0;
    border: 1rem solid;
    border-color: $body-bg transparent transparent $body-bg;
  }
}

.thesis-list {
  small {
    color: $gray-light;
  }
}

.thesis-emphasize {

  .emphasize-toggle {
    opacity: 0;
    transition: all .2s;
  }

  .emphasize-indicator {
    color: $yellow;
    opacity: 0;
    transition: all .2s;

    small {
      color: $yellow;
    }
  }

  &.active {
    .emphasize-toggle {
      opacity: 1;
    }
  }

  &.emphasized {
    .emphasize-indicator {
      opacity: 1;
    }
  }
}

.collapse-header {
  cursor: pointer;
}

.opinion-wrap {
  padding: .25rem .5rem;
  border: 1px solid $gray-light;
  border-radius: 50%;

  i {
    width: 2rem;
    height: 2rem;

    &.flaticon-check {
      color: $green;
    }

    &.flaticon-cancel {
      color: $red-danger;
    }

    &.flaticon-star {
      color: $yellow;
    }
  }
}

.check {
  color: $green;
}

.cancel {
  color: $red;
}

.result-list {
  img {
    border: 3px solid $gray-lighter;
  }
}

.carousel-navigation {
  a {
    color: $body-color;
  }
}

// Base for label styling
.emphasize-toggle {
  border: 1px solid $gray-light;
  border-radius: 50%;
}

.checkbox-star[type="checkbox"]:not(:checked),
.checkbox-star[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.checkbox-star[type="checkbox"]:not(:checked) + label,
.checkbox-star[type="checkbox"]:checked + label {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0;
  cursor: pointer;
}

// checkbox aspect
.checkbox-star[type="checkbox"]:not(:checked) + label:before,
.checkbox-star[type="checkbox"]:checked + label:before {
  @extend .fi:before;
  @extend .flaticon-star-o:before;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: .5rem;
  text-align: center;
}

// checked mark aspect
.checkbox-star[type="checkbox"]:not(:checked) + label:after,
.checkbox-star[type="checkbox"]:checked + label:after {
  @extend .fi:before;
  @extend .flaticon-star:before;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: .5rem;
  color: $yellow;
  text-align: center;
  transition: opacity .2s;
}

// checked mark aspect changes
.checkbox-star[type="checkbox"]:not(:checked) + label:after {
  display: none;
  opacity: 0;
  transform: scale(0);
}

.checkbox-star[type="checkbox"]:not(:checked) + label:before {
  opacity: 1;
  transform: scale(1);
}

.checkbox-star[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox-star[type="checkbox"]:checked + label:before {
  display: none;
  opacity: 0;
  transform: scale(0);
}
