{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<div class="container hidden-sm-down py-1">
			<div class="row flex-items-xs-top">
				<div class="col-xs-12 col-sm-3 navbar-brand__container">
					<div class="navbar-brand ">
						<f:cObject typoscriptObjectPath="lib.header.logo.main"/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 metanav">
					<div class="media">
						<div class="pull-left mr-1">
							<i class="fi flaticon-technology"></i>
						</div>
						<div>
							<p class="text-uppercase">
								<f:translate
									key="LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.meta.free-consulting"/>
							</p>
							<p><a href="">{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:default.number')}</a></p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 metanav">
					<div class="media">
						<div class="pull-left mr-1">
							<i class="fi flaticon-avatar"></i>
						</div>
						<div>
							<p class="text-uppercase">
								<f:translate
									key="LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.meta.employee-login"/>
							</p>
							<p><f:link.page pageUid="21">Login</f:link.page></p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 metanav">
					<div class="media">
						<div class="pull-left mr-1">
							<i class="fi flaticon-global"></i>
						</div>
						<div>
							<p class="text-uppercase">
								<f:translate
									key="LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.meta.choose-language"/>
							</p>
								<theme:widget.languageMenu
									availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
									currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
									defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
									defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
									defaultLanguageFlag="{theme:constant(constant: 'themes.languages.default.flag')}"
								/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:section>
</div>
