{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<div class="hidden-md-up">
			<div class="navbar navbar-top">
						<div class="navbar-brand">
							<f:cObject typoscriptObjectPath="lib.header.logo.mobile"/>
						</div>
			</div>
			<nav class="navbar navbar-dark bg-primary">
				<div class="row flex-items-xs-middle">
					<!-- Toggle Button -->
					<button class="navbar-toggler" type="button" data-toggle="collapse"
									data-target="#nav-content"></button>
					<div class="float-xs-right">
						<a class="btn btn-default"
							 title="{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.meta.free-consulting')}"
							 href="tel:+494292811620"><i class="fi flaticon-technology"></i></a>

						<f:link.page pageUid="21" class="btn btn-default"
							 title="{f:translate(key:'LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:header.meta.employee-login')}">
							 <i class="fi flaticon-avatar"></i></f:link.page>
						<theme:widget.languageMenu
							availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
							currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
							defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
							defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
							defaultLanguageFlag="{theme:constant(constant: 'themes.languages.default.flag')}"
						/>
					</div>
				</div>
			</nav>
		</div>
	</f:section>
</div>
