<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<!-- theme_kom: Partials/Area/Nav/Start.html [begin] -->
	<f:section name="Default">
		<nav class="navbar">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-5 col-md-3">
						<f:cObject typoscriptObjectPath="lib.header.logo.main"/>
					</div>
					<div class="col-3 col-md-2 mb-md-1">
						<f:cObject typoscriptObjectPath="lib.header.logo.unifreiburg"/>
					</div>
					<div class="col-4 col-md-2">
						<f:cObject typoscriptObjectPath="lib.header.logo.tubraunschweig"/>
					</div>
					<div class="col-4 col-md-2">
						<f:cObject typoscriptObjectPath="lib.header.logo.hhuduesseldorf"/>
					</div>
					<div class="col-3 col-md-2">
						<f:cObject typoscriptObjectPath="lib.header.logo.debat-o-meter"/>
					</div>
				</div>
			</div>
		</nav>
	</f:section>
	<!-- theme_kom: Partials/Area/Nav/Start.html [end] -->
</div>
