<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<!-- theme_kom: Partials/Area/Nav/Start.html [begin] -->
	<f:section name="Default">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<div class="row">
						<div class="col-12 py-md-3">
							<f:cObject typoscriptObjectPath="lib.header.logo.main"/>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</f:section>
	<!-- theme_kom: Partials/Area/Nav/Start.html [end] -->
</div>
