<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_kom: Partials/Area/Breadcrumb.html [begin] -->
		<f:if condition="{0:'{templateName}'} == {0:'ContentSpecial'}">
			<div class="container">
		</f:if>

		<div class="menu-breadcrumb__wrapper">
			<span class="menu-breadcrumb__label"><f:translate key="LLL:EXT:theme_kom/Resources/Private/Language/locallang.xlf:menu.breadcrumb_label" /></span>
			<f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
		</div>

		<f:if condition="{0:'{templateName}'} == {0:'ContentSpecial'}">
			</div>
		</f:if>

		<!-- theme_kom: Partials/Area/Breadcrumb.html [end] -->
	</f:section>
</div>
